<div class="container">
    <div class="row"  style="margin-top: 70px;">
        <div class="col text-center">
            <img src="..\img\p1.jpg" alt="Black Cat" class="rounded" style="width:200px;">
            <h1 class="display-4">Muhammad Adityo Fathur Rahim</h1>
            <p class="lead">User</p>
        </div>
    </div>
</div>