<div class="container">
    <div class="p-5" style="margin-top: 50px;">
        <h1>Add Customer</h1>
        <p>This is add new customer form</p>
        <hr>
        <br>
        <!-- Pengkondisian apabila terdapat error untuk memunculkan pesan alert -->
        <% if (typeof errors != 'undefined') { %>
            <div class="alert alert-danger" role="alert">
                <ul>
                    <% errors.forEach(error => { %>
                     <li><%= error.msg %> </li>
                    <% }) %>
                </ul>
            </div>
        <% } %>

        <!-- Pengkondisian apabila value sementara sudah terisi -->
        <% let tempValue %>
        <% if (locals.tempParams) { tempValue = tempParams %>
        <% } %> 

        <form method="post" action="/customer" class="col-6">
            <div class="mb-3">
                <label for="inputName" class="form-label">Name</label>
                <input type="text" class="form-control" id="inputName" name="name" value="<%= tempValue?.name %>" required>
            </div>
            <div class="mb-3">
                <label for="inputMobile" class="form-label">Mobile Phone</label>
                <input type="number" class="form-control" id="inputMobile" name="mobile" value="<%= tempValue?.mobile %>" required>
            </div>
            <div class="mb-3">
                <label for="inputAddress" class="form-label">Address</label>
                <input type="text" class="form-control" id="inputAddress" name="address" value="<%= tempValue?.address %>">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>