<div class="container">
    <div class="p-5" style="margin-top: 50px;">
        <h1>Hello, <%= user.name %></h1>
        <br>
        <h3>You successfully logged in as <b style="text-transform: capitalize"><%= user.role %></b></h3>
        <hr>
    </div>
</div>