<div class="modal modal-signin position-static d-block bg-secondary py-5" tabindex="-1" role="dialog" id="modalSignin">
  <div class="modal-dialog" role="document">
    <div class="modal-content rounded-4 shadow">
      <div class="modal-header p-5 pb-4 border-bottom-0">
        <!-- <h5 class="modal-title">Modal title</h5> -->
        <h2 class="fw-bold mb-0">Login</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      
      <div class="modal-body p-5 pt-0">
        <% console.log(messages); %> 
        <% if (messages.error) { %>
          <div class="alert alert-warning mt-3" role="alert">
            <%= messages.error %>
          </div>
        <% } %>
        <!-- FORM LOGIN -->
        <form class="" method="post" action="/login">
          <div class="form-floating mb-3">
            <input type="email" class="form-control rounded-3" id="loginEmail" name="email" placeholder="name@example.com">
            <label for="loginEmail">Email address</label>
          </div>
          <div class="form-floating mb-3">
            <input type="password" class="form-control rounded-3" id="loginPassword" name="password" placeholder="Password">
            <label for="loginPassword">Password</label>
          </div>
          <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="submit">Login</button>
          <!-- <small class="text-muted">By clicking Sign up, you agree to the terms of use.</small> -->
        </form>
      </div>
    </div>
  </div>
</div>

<div class="b-example-divider"></div>